@keyframes open {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes close {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@checkbox-prefix: ~"@{css-prefix}-checkbox";
.@{checkbox-prefix} {
  flex-direction: column;
  background-color: #ffffff;
  &__item {
    padding: 30px 40px;
    .set-border(bottom, @checkbox-default-border);
  }
  &__item--is-right {
    justify-content: space-between;
  }
  &__checkbox {
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    border: 1px solid @checkbox-default-border;
    margin-right: 10px;
    background-color: #ff0000;
  }
  &__thumb {
    .set-border(right, @checkbox-default-border, 3px);
    .set-border(bottom, @checkbox-default-border, 3px);
    width: 12px;
    height: 26px;
    transform: rotate(45deg);
    margin-top: -5px;
  }
  &__thumb--open {
    animation-name: open;
    animation-duration: 0ms;
    animation-fill-mode: forwards;
    border-color: #ffffff;
  }
  &__thumb--close {
    animation-name: close;
    animation-duration: 0ms;
    animation-fill-mode: forwards;
    
  }
  &__item--disabled {
    color: rgba(0, 0, 0, 0.25);
    opacity: .5;
  }
  &__name {
    font-size: 32px;
  }
  &__item--isRight {
    justify-content: space-between;
  }
}