@dialog-prefix: ~"@{css-prefix}-dialog";

.@{dialog-prefix} {
	flex-direction: column;
	width: 80%;
	background-color: @body-background;
	border-radius: @border-radius-base;

	&-content {
		flex: 1;
		margin-top: 40px;
		margin-bottom: 40px;
		padding: 0 60px;
		align-items: center;
	}

	&-contentb {
		flex: 1;
		margin-top: 70px;
		margin-bottom: 70px;
		padding: 0 60px;
		align-items: center;
	}

	&-btns {
		width: 100%;
		height: 96px;
		align-items: center;
		.set-border(top);
	}

	.cancel-btn {
		height: 100%;
		display: flex;
		justify-content: center;
		flex: 1;
		.set-border(right);
	}

	.ok-btn {
		height: 100%;
		display: flex;
		justify-content: center;
		flex: 1;
	}

	.btn-text {
		font-size: @font-size-base + 4;
	}
}