@progress-prefix: ~"@{css-prefix}-progress";

.@{progress-prefix} {
	flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

	&-inner {
		flex: 1;
	}

  &-info {
    margin-left: 10px;
  }

}