@counter-prefix: ~"@{css-prefix}-counter";

.@{counter-prefix} {
	display: flex;
	align-items: center;
	border-style: solid;
	border-width: 1px;
	&-reduce {
		width: 30%;
    height: 100%;
    align-items: center;
		justify-content: center;
		border-style: solid;
		border-right-width: 1px;
	}
	&-plus {
		width: 30%;
    height: 100%;
    align-items: center;
		justify-content: center;
		border-left-width: 1px;
		border-style: solid;
	}
	&-input {
		flex: 1;
		height: 100%;
		text-align: center;
	}
}