@counter-prefix: ~"@{css-prefix}-counter";

.@{counter-prefix} {
	align-items: center;
	flex-direction: row;
	&-operate {
		align-items: center;
		justify-content: center;
		border-width: 1px;
		border-style: solid;
	}
	&-input {
		margin: 0 1px;
		justify-content: center;
		border-width: 1px;
		border-style: solid;
	}
}